/* resets css page so that there is no emptpy space */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-family: 'Lora', serif;
}
/* margin is the space around the element border and padding is the space between the border and content  */
/*Border box makes content be placed all together*/

body,
html {
  height: 100%;
  width: 100%;
}
